.registration-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0px 0px 20px;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .registration-main .overlay-date {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .registration-main .overlay-date:first-of-type {
    width: 80%;
    max-width: 800px; }
  .registration-main .overlay-date:last-of-type {
    margin-left: 40px; }
  .registration-main__title {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 39px;
    color: #35A0CD; }
  .registration-main__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .registration-main__content .date {
      max-width: 215px; }
  .registration-main__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .registration-main__item p {
      font-weight: 300;
      font-size: 17px;
      color: #393939;
      margin-top: 18px; }
    .registration-main__item b {
      font-weight: bold;
      font-size: 16px;
      margin-top: 18px;
      margin-bottom: 4px;
      color: rgba(19, 19, 19, 0.8); }
    .registration-main__item input {
      padding: 0px 10px;
      height: 30px;
      margin-top: 5px;
      border: 2px solid #A7A7A7;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .registration-main .outer {
    margin-left: 0px !important; }
    .registration-main .outer select {
      padding: 0px 10px;
      width: 80%;
      max-width: 800px;
      height: 30px;
      margin-top: 5px;
      border: 2px solid #A7A7A7;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }

.errror {
  border: 2px solid #7A3744 !important; }

.resolution-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #fff;
  padding: 0px 20px;
  padding-top: 40px; }
  .resolution-main .left-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    max-width: 750px;
    margin-right: 18px; }
    .resolution-main .left-col__title {
      font-weight: 200;
      font-size: 25px;
      margin-bottom: 17px;
      color: #6D6D6D; }
    .resolution-main .left-col select {
      padding: 0px 10px;
      height: 30px;
      margin-top: 5px;
      border: 2px solid #A7A7A7;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .resolution-main .left-col__documents {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .resolution-main .left-col__documents .left-col__inside {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .resolution-main .left-col__documents .left-col__inside p {
        font-family: Roboto;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: #202020;
        font-weight: 600; }
      .resolution-main .left-col__documents .left-col__inside .inside-numbers {
        margin-top: 8px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; }
        .resolution-main .left-col__documents .left-col__inside .inside-numbers li {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 45px;
          height: 30px;
          border: 2px solid #A7A7A7;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin-right: 20px;
          position: relative; }
        .resolution-main .left-col__documents .left-col__inside .inside-numbers li::after {
          content: '';
          width: 5px;
          height: 1px;
          background-color: #A7A7A7;
          position: absolute;
          left: 122%;
          right: 0; }
        .resolution-main .left-col__documents .left-col__inside .inside-numbers li:last-child::after {
          display: none; }
  .resolution-main .left-col__outside {
    margin-top: 20px; }
    .resolution-main .left-col__outside p {
      font-size: 14px;
      line-height: 16px;
      color: #3B3B3B; }
    .resolution-main .left-col__outside a {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 35px;
      color: #0D70D3;
      border-bottom: 1px solid #0D70D3; }

.right-col {
  padding-left: 21px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50%;
  max-width: 700px;
  border-left: 1px solid #A7A7A7; }
  .right-col select {
    padding: 0px 10px;
    height: 40px;
    margin-top: 5px;
    border: 2px solid #A7A7A7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.menu-tools {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #DCDCDC;
  padding: 5px 20px;
  max-width: 100%;
  height: auto; }

.menu-tools-item {
  width: 110px;
  height: 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer; }
  .menu-tools-item img {
    margin-bottom: 11px; }
  .menu-tools-item p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000; }

.active-tool {
  background-color: #F0F0F0; }

.quote {
  padding: 40px 20px;
  max-width: 805px;
  font-size: 20px;
  line-height: 31px;
  color: #4D4D4D; }
  .quote h1 {
    font-size: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #343434;
    margin-bottom: 10px; }

.bar-charts__list {
  padding: 0px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .bar-charts__list li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .bar-charts__list .chart-text {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 15px;
    color: #71726D; }
  .bar-charts__list .chart-number {
    font-family: Roboto;
    font-weight: bolder;
    font-size: 20px;
    line-height: 23px; }
  .bar-charts__list .rounded-chart {
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #71726D; }

.rounded {
  padding: 0px 30px;
  margin-top: 30px; }
  .rounded li {
    margin-right: 30px; }

.docs-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px 20px;
  max-width: 100%; }
  .docs-list .docs-list__item {
    max-width: 367px;
    padding: 15px 0px;
    margin-top: 50px;
    margin-right: 20px; }
    .docs-list .docs-list__item p {
      padding: 0px 30px 0px 20px;
      font-size: 18px;
      line-height: 28px;
      color: #EDDFFF;
      margin-top: 14px; }
    .docs-list .docs-list__item img {
      margin-right: 13px; }

.docs-list-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  padding: 0px 20px; }

.title-docs {
  font-size: 26px;
  line-height: 26px;
  color: #EDDFFF; }

.docs-number {
  font-family: Roboto;
  font-size: 40px;
  line-height: 47px;
  color: #E9F2D6;
  margin-left: auto; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background: #FFFFFF;
  height: 71px;
  padding: 0px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer span {
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    color: #595959; }

* {
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: 'Saira ExtraCondensed', sans-serif;
  max-width: 100%;
  width: 100%;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  overflow-x: hidden;
  background-color: #F0F0F0;
  color: #000;
  padding: 0;
  margin: 0; }

ul,
ol {
  list-style: none;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px; }

a {
  text-decoration: none; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 81%;
  padding-bottom: 20px; }

.header-main__exit:hover span {
  color: #fff;
  cursor: pointer; }

select {
  background-color: #fff; }

.js-togle__btn {
  display: none; }

.active-sidebar {
  position: absolute;
  display: block !important;
  top: 93px;
  height: 90vh;
  z-index: 99; }

.active-rotate img {
  -webkit-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important; }

@font-face {
  font-family: 'Saira ExtraCondensed';
  src: url("../fonts/SairaExtraCondensed-Regular.eot");
  src: url("../fonts/SairaExtraCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SairaExtraCondensed-Regular.woff2") format("woff2"), url("../fonts/SairaExtraCondensed-Regular.woff") format("woff"), url("../fonts/SairaExtraCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Saira ExtraCondensed-thin';
  src: url("../fonts/SairaExtraCondensed-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.header-main {
  height: 54px;
  background: #383838;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .header-main__exit {
    margin: 0px 20px;
    position: relative; }
    .header-main__exit span {
      font-family: Roboto;
      font-size: 20px;
      line-height: 23px;
      color: #8E8E8E; }
  .header-main__exit::before {
    content: '';
    width: 20px;
    height: 1px;
    display: inline-block;
    background: #ACACAC;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    position: relative; }
  .header-main .logo {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 282px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1; }
  .header-main__search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 31%; }
    .header-main__search input {
      width: 450px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      background: #FFFFFF;
      height: 24px;
      background-image: url(../img/search.svg);
      -webkit-background-size: 15px 15px;
      background-size: 15px 15px;
      background-repeat: no-repeat;
      background-position: 98% 50%;
      padding: 0px 0px 0px 7px; }
  .header-main__btn {
    margin-left: 11px; }
    .header-main__btn p {
      font-weight: normal;
      font-size: 15px;
      line-height: 30px;
      color: #B8B8B8;
      white-space: nowrap; }
  .header-main__signin {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header-main__signin img {
      margin-right: 10px; }
    .header-main__signin span {
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: #EAEAEA; }

.header-main__login {
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-main__login ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-main__login ul li {
      margin-right: 16px; }
  .header-main__login .header-main__notification {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header-main__login .header-main__notification img {
      margin-right: 10px; }
    .header-main__login .header-main__notification span {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      padding: 5px;
      font-family: Roboto;
      font-size: 15px;
      letter-spacing: 0.02em;
      color: #E4F6EE;
      background: #8FC442; }

.login-mobile {
  display: none; }
  .login-mobile .header-main__signin {
    margin: 20px 10px; }
  .login-mobile .header-main__login {
    margin: 20px 10px; }

.header-mobile {
  background: #383838;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 0px;
  display: none; }

.search-mobile {
  width: 100%;
  display: none;
  margin: 20px 10px; }
  .search-mobile input {
    width: 89%;
    height: 40px;
    border: none;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-size: 14px;
    color: #6b6e73;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(../img/search.svg);
    -webkit-background-size: 15px 15px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 95% 50%; }

.inner-page {
  background-color: #fff; }
  .inner-page .sidebar {
    display: none; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }

.nav-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
  height: 40px; }
  .nav-main__arrow {
    width: 60px;
    background: #5B5D5C;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer; }
  .nav-main__item {
    background: #C4C4C4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer; }
    .nav-main__item img {
      width: 23px;
      height: 19px;
      margin-right: 12px; }
    .nav-main__item span {
      font-weight: 300;
      font-size: 17px;
      line-height: 36px;
      text-align: center;
      color: #424242; }
  .nav-main__active {
    background-color: #F0F0F0; }

.card-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff; }
  .card-main__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 90%;
    padding: 0px 20px;
    margin-top: 10px;
    border-bottom: 4px solid #DCDCDC; }
  .card-main__active {
    background-color: #E2E2E2; }
  .card-main__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 3px 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
    .card-main__item .number {
      background-color: #575757;
      margin-left: 10px;
      font-family: Roboto;
      font-weight: 300;
      font-size: 14px;
      width: 20px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 20px;
      padding: 0px;
      text-align: center;
      color: #FEFEFE;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .card-main__item .number b {
        font-weight: 300; }
    .card-main__item span {
      font-weight: 300;
      font-size: 16px;
      line-height: 31px;
      text-align: center;
      color: #0B0B0B; }

.card-title {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding: 0px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 4px solid #DCDCDC; }
  .card-title__item {
    margin-top: 18px;
    padding-bottom: 12px; }
    .card-title__item p {
      font-weight: 300;
      font-size: 17px;
      color: #393939; }
    .card-title__item input {
      width: 97%;
      height: 40px;
      margin-top: 5px;
      border: 2px solid #A7A7A7;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .card-title__item select {
      padding: 0px 10px;
      width: 80%;
      max-width: 800px;
      height: 30px;
      margin-top: 5px;
      border: 2px solid #A7A7A7;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }

.inner-page .footer {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: 75px;
  background: #F0F0F0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.inner-page .btn-footer {
  width: 110px;
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .inner-page .btn-footer span {
    font-size: 16px;
    color: #000000; }

.inner-page .btn-footer:hover {
  cursor: pointer; }
  .inner-page .btn-footer:hover span {
    color: #fff; }

@media only screen and (max-width: 1550px) {
  .docs-list .docs-list__item {
    max-width: 343px; } }

@media only screen and (min-width: 600px) {
  .checkbox {
    display: none; }
  .checkbox3 {
    display: none; } }

@media only screen and (min-width: 1100px) {
  .docs-list .docs-list__item {
    width: 31%; } }

@media only screen and (max-width: 1100px) {
  .header-main .header-main__signin span {
    display: none; }
  .menu-tools {
    padding: 0px; } }

@media only screen and (max-width: 800px) {
  .nav-main__arrow {
    display: none; }
  .overlay-date {
    margin-left: 0px !important; }
  .inner-page .menu-tools {
    max-width: 100% !important;
    padding: 0px !important;
    max-width: none !important;
    width: auto; }
  .header-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .login-mobile {
    display: block; }
  .bar-charts__list li {
    width: 33%; }
  .rounded li {
    width: 27%; }
  .docs-list .docs-list__item {
    margin-right: auto;
    max-width: none;
    width: 45%; }
  .search-mobile {
    display: block; }
  .header-main {
    display: none; }
  .menu-tools {
    width: 102%;
    padding: 0px;
    max-width: none; }
  .content {
    width: 98%; }
  .menu-tools-item {
    margin-right: 5px;
    width: 31%; }
  .bar-charts__list {
    padding: 0px 4px; }
  .sidebar {
    display: none;
    position: absolute;
    z-index: 1;
    overflow-y: auto; }
  .rounded {
    padding: 0px 10px; }
  .rounded li {
    margin-right: 20px;
    margin-top: 15px; }
  .docs-list {
    padding: 0px 7px;
    width: 96%; }
  .footer {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .visuallyHidden {
    position: fixed;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }
  label {
    position: absolute;
    z-index: 99;
    background-color: #fff;
    left: 10px;
    top: 3px;
    padding: 13px;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .highlight {
    position: absolute;
    background-color: transparent;
    left: 220px;
    top: 70px;
    padding: 13px;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .hamburger {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative; }
  .hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: rgba(137, 137, 137, 0.6);
    display: block;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: absolute; }
  .bar1 {
    top: 0; }
  .bar2,
  .bar3 {
    top: 13.5px; }
  .bar3 {
    right: 0; }
  .bar4 {
    bottom: 0; }
  /* HAMBURGER 1 */
  .checkbox1:checked + label > .hamburger1 > .bar1 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 5%;
    -ms-transform-origin: 5%;
    transform-origin: 5%;
    width: 41px; }
  .checkbox1:checked + label > .hamburger1 > .bar2 {
    -webkit-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    transform: translateX(-40px);
    background-color: transparent; }
  .checkbox1:checked + label > .hamburger1 > .bar3 {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    background-color: transparent; }
  .checkbox1:checked + label > .hamburger1 > .bar4 {
    -webkit-transform-origin: 5%;
    -ms-transform-origin: 5%;
    transform-origin: 5%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 41px; }
  /* HAMBURGER 2 */
  .checkbox2:checked + label > .hamburger2 > .bar1 {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    background-color: transparent; }
  .checkbox2:checked + label > .hamburger2 > .bar2 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .checkbox2:checked + label > .hamburger2 > .bar3 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .checkbox2:checked + label > .hamburger2 > .bar4 {
    -webkit-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    transform: translateX(-40px);
    background-color: transparent; }
  /* HAMBURGER 3 */
  .hamburger3 .bar1 {
    -webkit-transform-origin: 5%;
    -ms-transform-origin: 5%;
    transform-origin: 5%; }
  .hamburger3 .bar4 {
    -webkit-transform-origin: 5%;
    -ms-transform-origin: 5%;
    transform-origin: 5%; }
  .checkbox3:checked + label > .hamburger3 > .bar1 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 3px;
    width: 42px; }
  .checkbox3:checked + label > .hamburger3 > .bar3 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent; }
  .checkbox3:checked + label > .hamburger3 > .bar2 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent; }
  .checkbox3:checked + label > .hamburger3 > .bar4 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 3px;
    width: 42px; }
  /* HAMBURGER 4 */
  .hamburger2 .bar2,
  .hamburger3 .bar3,
  .hamburger4 .bar4 {
    top: 13.5px; }
  .hamburger4 .bar5 {
    bottom: 0px; }
  .hamburger4 .bar {
    -webkit-transition: all 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out 0.4s;
    transition: all 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out 0.4s;
    -o-transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s, -webkit-transform 0.4s ease-in-out 0.4s; }
  .hamburger4 .bar2 {
    width: 1px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 13.5px; }
  .hamburger4 .bar3 {
    width: 1px;
    left: 13.5px; }
  .checkbox4:checked + label > .hamburger4 > .bar1 {
    top: 13.5px;
    background-color: transparent; }
  .checkbox4:checked + label > .hamburger4 > .bar2 {
    left: 0px;
    width: 30px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .checkbox4:checked + label > .hamburger4 > .bar3 {
    left: 0;
    width: 30px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .checkbox4:checked + label > .hamburger4 > .bar4 {
    background-color: transparent; }
  .checkbox4:checked + label > .hamburger4 > .bar5 {
    bottom: 13.5px;
    background-color: transparent; } }

@media only screen and (max-width: 500px) {
  .docs-list .docs-list__item {
    margin-right: auto;
    max-width: none;
    width: 100%; }
  .nav-main {
    height: auto; }
  .card-main__nav {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .resolution-main {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .resolution-main .left-col__documents {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .right-col {
    width: 90%; }
  .resolution-main .left-col {
    width: 90%; }
  .inner-page .btn-footer {
    margin-top: 15px; }
  .inner-page .footer {
    height: auto; } }

@media (min-width: 800px) and (max-width: 1200px) {
  .sidebar {
    width: 258px !important; }
  .sidebar-documents li a span {
    font-size: 15px !important; }
  .sidebar-title {
    font-size: 19px !important; }
  .sidebar-documents li a {
    width: 217px !important; } }

@media only screen and (max-width: 1400px) {
  .title-docs {
    font-size: 23px; }
  .docs-number {
    font-size: 37px; }
  .docs-list .docs-list__item p {
    font-size: 16px; }
  .header-main__exit span {
    font-size: 17px; } }

.sidebar {
  width: 248px;
  background-color: #5B5D5C; }

.sidebar-documents {
  background-color: #515352; }
  .sidebar-documents li:last-of-type {
    padding-bottom: 22px;
    margin-bottom: 0px !important; }
  .sidebar-documents li {
    margin-bottom: 10px; }
    .sidebar-documents li a {
      width: 255px;
      height: 40px;
      background: rgba(137, 137, 137, 0.6);
      border: 1px solid rgba(255, 255, 255, 0.05);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -webkit-border-radius: 22px;
      border-radius: 22px;
      padding: 0px 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 auto; }
      .sidebar-documents li a img {
        margin-right: 7px; }
      .sidebar-documents li a span {
        font-size: 19px;
        line-height: 0px;
        color: #D8DAD9; }
    .sidebar-documents li b {
      margin-left: auto;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #C4C4C4;
      font-family: Roboto;
      font-size: 11px;
      padding: 5px;
      color: #5C5C5C; }

.sidebar-title {
  font-size: 22px;
  color: #FFFFFF;
  padding: 15px 0px 0px 15px;
  padding-bottom: 20px;
  cursor: pointer;
  font-weight: 300;
  position: relative; }

.sidebar-title::after {
  width: 189px;
  height: 1px;
  position: relative;
  display: block;
  content: '';
  background-color: rgba(195, 197, 196, 0.5);
  top: 15px; }

.sidebar-documents:last-of-type {
  padding-bottom: 15px; }

.active-title {
  font-weight: bold;
  font-size: 24px; }

.active-title::after {
  display: none; }

.sidebar-title:hover {
  opacity: 0.8; }

.sidebar-office {
  background: #5B5D5C;
  padding: 35px 15px; }

.sidebar-office li {
  margin-bottom: 35px; }

.sidebar-office li::after {
  width: 189px;
  height: 1px;
  position: relative;
  display: block;
  content: '';
  background-color: rgba(195, 197, 196, 0.5);
  top: 15px; }

.sidebar-office a {
  font-size: 22px;
  color: #FEFFFF; }
