@font-face {
	font-family: 'Saira ExtraCondensed';
	src: url('../fonts/SairaExtraCondensed-Regular.eot');
	src: url('../fonts/SairaExtraCondensed-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SairaExtraCondensed-Regular.woff2') format('woff2'), url('../fonts/SairaExtraCondensed-Regular.woff') format('woff'), url('../fonts/SairaExtraCondensed-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Saira ExtraCondensed-thin';
	src: url('../fonts/SairaExtraCondensed-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
