@font-face {
    font-family: 'Saira ExtraCondensed';
    src: url('SairaExtraCondensed-Regular.eot');
    src: url('SairaExtraCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('SairaExtraCondensed-Regular.woff2') format('woff2'),
        url('SairaExtraCondensed-Regular.woff') format('woff'),
        url('SairaExtraCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

